.col-md-6.col-md-offset-3.col-sm-8.col-sm-offset-2
  .panel.panel-default
    .panel-body
      %h3.thin.text-center Edit your profile
      %hr/
      = simple_form_for current_user, url: profiles_path, html: { method: :put } do |f|
        - if flash[:alert]
          = content_tag :p, flash[:alert], class: "flash alert"
        .top-margin
          = f.input :name
        .top-margin
          = f.input :email, placeholder: 'user@domain.com'
        .top-margin
          = f.input :password, hint: 'No special characters.'
        .top-margin
          = f.input :password_confirmation
        .top-margin
          = f.simple_fields_for :profile do |pf|
            = pf.input :address
        %hr/
        .row
          .col-lg-4
          .col-lg-4
          .col-lg-4.text-right
            = f.submit "Save", class: "btn btn-primary"
