%header.navbar.navbar-inverse
  .container
    - if user_signed_in?
      %li= link_to "Log out", sessions_path, method: :delete
    - else
      %li= link_to "Log in", login_path
    %nav
      %ul.nav.navbar-nav.navbar-left
        - if user_signed_in?
          %li= link_to "Home", store_index_path
          %li= link_to "Edit profile",  edit_profiles_path
          %li
            - flash.each do |message_type, message|
              %div{:class => "alert alert-#{message_type}"}= message
    %nav
      - if user_signed_in?
        - if current_user.admin?
          %ul.nav.navbar-nav.navbar-right
            %li= link_to "Registering application",  signup_app_path
            %li= link_to 'Creating products', admin_products_path
            %li= link_to 'Viewing and creating menu',  admin_menus_path
            %li= link_to 'Creating categories', admin_categories_path
            %li= link_to 'Viewing orders', admin_orders_path
