
.col-md-6.col-md-offset-3.col-sm-8.col-sm-offset-2
  .panel.panel-default
    .panel-body
      %h3.thin.text-center New Order
      %hr/
      = simple_form_for @order do |form|
        .top-margin
          = form.input :name
        .top-margin
          = form.input :address
        .top-margin
          = form.input :email
          = form.submit
= link_to 'Back', store_index_path
