%article.col-xs-12.maincontent
  %header.page-header
  .col-md-10.col-md-offset-2.col-sm-8.col-sm-offset-2
    .panel.panel-default
      .panel-body.jumbotron
        %h3.thin.text-center Products list
        %p= link_to 'Back', store_index_path
        %table.table.table-sm
          - @products.each do |product|
            %thead
              %tr{:class => "#{cycle('list_line_odd', 'list_line_even')}"}
                %th Image
                %th Title
                %th Description
                %th Price
                %th Action
                %th Action
                %th Action
                %th Add to cart
                %th Add to cart button
            %tbody
              %tr
                %td
                  = image_tag(product.image_url, class: 'list_image')
                %td
                  = product.title
                %td
                  = truncate(strip_tags(product.description), length: 80)
                %td
                  = number_to_currency(product.price)
                %td
                  = link_to 'Edit', edit_admin_product_path(product)
                %td
                  = link_to 'Destroy',[:admin, product], method: :delete, data: { confirm: 'Are you sure?' }

        = link_to 'New Product', new_admin_product_path
      = paginate @products
