= simple_form_for(product, html: { class: 'form-control' }) do |form|
  .top-margin
    = form.input :title
  .top-margin
    = form.input :description
  .top-margin
    = form.input :image
  .top-margin
    = form.input :price
  .top-margin
    = form.collection_select :category_id, Category.all, :id, :title, prompt: true

    = form.submit
