%article.col-xs-12.maincontent
  %header.page-header
    %h1.page-title
      %p
        %strong
        = menu.name
  .col-md-6.col-sm-6.col-xs-12
    .panel.panel-default
      .panel-body
        %h3.thin.text-center Блюда в наличии
        %table
          - @categories.each do |category|
            %tr
              %td.list_price
                %dl
                  %strong
                    %dt= category.title
                  - category.products.each do |product|
                    %dd= product.title
                    = link_to "Добавить",  admin_menu_menus_products_path(id: product.id, menu_id: menu.id), method: :post

  .col-md-6.col-sm-6.col-xs-12
    .panel.panel-default
      .panel-body
        %h3.thin.text-center Блюда в сегодняшнем меню
        %table
          - menu.products.each do |product|
            %tr
              %td.list_price
                %dl
                  = product.title
                  = product.price
                  |
                  = link_to "Удалить",  admin_menu_menus_product_path(menu, id: product.id), method: :delete
